@import '@styles/index.scss';

.accordionHeader {
  @include flex(center, flex-start, column);
  width: 100%;
  padding-bottom: 0;
  border-bottom: 0px solid transparent;
  cursor: pointer;

  .wrapperHeader {
    @include flex(stretch, center, column);
    width: 100%;

    .control {
      @include flex(center, space-between, row);
    }
  }

  .icon,
  > svg {
    @include size(24px, 24px);
    max-width: 24px;
    max-height: 24px;
  }

  .on {
    transform: rotate(180deg);
    transition: 0.3s;
  }

  .off {
    transform: rotate(0deg);
    transition: 0.3s;
  }
}

.expandedHeader {
  background: $color-white-100;
  border-radius: 8px;
  border: 1px solid $color-gray-200;
  padding: 16px;
}

.expandedHeaderOpened {
  background: $color-white-100;
  border-radius: 8px;
  border: 1px solid $color-gray-200;
  padding: 16px;
  border-bottom: none !important;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
