@import '@styles/index.scss';

.pillTab {
  all: unset;
  @include flex(center, center);
  cursor: pointer;
  column-gap: 8px;
  transition: all 300ms ease-out;

  svg {
    display: flex;
  }

  .icon {
    svg {
      @include flex(center, center);
      @include size(20px, 20px);
    }
  }

  /**
  * SIZES.
  */

  &.small {
    @include flex();
    border-radius: 6px;
    padding: 7.5px 12px;
    font-size: 14px;
    font-weight: 500;

    &.iconOnly {
      padding: 6px;
    }

    &.selected {
      font-weight: 600;
    }
  }

  &.large {
    @include flex();
    padding: 10.5px 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    border-radius: 6px;

    &.iconOnly {
      padding: 10px;
    }

    &.selected {
      font-weight: 600;
    }
  }

  /**
* COLORS.
*/

  &.gray {
    color: $color-gray-600;
    background: inherit;

    &:hover {
      cursor: pointer;
      color: $color-gray-500;
      background: $color-gray-50;

      .icon {
        svg path {
          fill: $color-gray-500;
        }
      }
    }

    &:focus {
      color: $color-gray-700;
      border: 1px solid $color-gray-300;
      background: $color-gray-100;
      .icon {
        svg path {
          fill: $color-gray-700;
        }
      }
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &.selected {
      color: $color-gray-700;
      background: $color-gray-100;
      .icon {
        svg path {
          fill: $color-gray-700;
        }
      }

      &:hover {
        color: $color-gray-600;
        background: $color-gray-50;

        .icon {
          svg path {
            fill: $color-gray-600;
          }
        }
      }

      &:focus {
        color: $color-gray-800;
        border: 1px solid $color-gray-300;
        background: $color-gray-200;
        .icon {
          svg path {
            fill: $color-gray-800;
          }
        }
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  &.blue {
    color: $color-gray-600;
    background: inherit;

    &:hover {
      cursor: pointer;
      color: $color-gray-500;
      background: $color-gray-50;

      .icon {
        svg path {
          fill: $color-gray-500;
        }
      }
    }

    &:focus {
      color: $color-gray-700;
      background: $color-white-100;
      box-shadow: 0px 0px 0px 3px $color-gray-100;

      .icon {
        svg path {
          fill: $color-gray-700;
        }
      }
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &.selected {
      color: $color-indigo-700;
      background: $color-indigo-50;
      .icon {
        svg path {
          fill: $color-indigo-600;
        }
      }

      &:hover {
        cursor: pointer;
        color: $color-indigo-600;
        background: $color-indigo-25;

        .icon {
          svg path {
            fill: $color-indigo-500;
          }
        }
      }

      &:focus {
        color: $color-indigo-800;
        outline: 1px solid $color-indigo-700;
        background: $color-indigo-100;
        box-shadow: 0px 0px 0px 3px $color-blue-100;

        .icon {
          svg path {
            fill: $color-indigo-700;
          }
        }
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  &.white {
    color: $color-gray-600;
    background: inherit;

    &:hover {
      cursor: pointer;
      color: $color-gray-500;
      background: $color-gray-50;

      .icon {
        svg path {
          fill: $color-gray-500;
        }
      }
    }

    &:focus {
      color: $color-gray-700;
      background: $color-gray-100;

      .icon {
        svg path {
          fill: $color-gray-700;
        }
      }
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &.selected {
      color: $color-gray-600;
      background: $color-white-100;
      border: 1px solid $color-white-100;
      box-shadow:
        0px 1px 2px 0px rgba(16, 24, 40, 0.06),
        0px 1px 3px 0px rgba(16, 24, 40, 0.1);
      .icon {
        svg path {
          fill: $color-gray-600;
        }
      }

      &:hover {
        cursor: pointer;
        color: $color-gray-500;

        .icon {
          svg path {
            fill: $color-gray-500;
          }
        }
      }

      &:focus {
        color: $color-gray-700;
        border: 1px solid $color-white-100;
        background: $color-white-100;
        box-shadow: 0px 0px 0px 3px $color-gray-100;

        .icon {
          svg path {
            fill: $color-gray-700;
          }
        }
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}
