@import '@styles/index.scss';

.button {
  @include flex(center, center, row);
  outline: none;
  position: relative;
  cursor: pointer;
  width: fit-content;
  background-color: transparent;
  border-radius: 6px;
  outline: unset;
  column-gap: 8px;
  transition: all 300ms ease-out;

  .icon {
    @include flex(center, center);
  }

  svg {
    display: flex;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

/* variants and their types */

// styles of main button
.main {
  &.primary {
    background: $color-indigo-600;
    border: 6px;
    color: $color-white-100;

    svg {
      * {
        fill: $color-white-100;
      }
    }

    &:hover {
      background: $color-indigo-500;
    }
    &:focus {
      background: $color-indigo-700;
    }
  }
  &.secondary {
    background: $color-indigo-50;
    border: 6px;
    color: $color-indigo-600;
    svg {
      * {
        fill: $color-indigo-600;
      }
    }
    &:hover {
      background: $color-indigo-25;
      color: $color-indigo-500;

      svg {
        * {
          fill: $color-indigo-500;
        }
      }
    }

    &:focus {
      background: $color-indigo-100;
      color: $color-indigo-700;
      svg {
        * {
          fill: $color-indigo-700;
        }
      }
    }
  }

  &.outlined {
    border: 1px solid $color-indigo-600;
    color: $color-indigo-600;
    svg {
      * {
        fill: $color-indigo-600;
      }
    }

    &:hover {
      color: $color-indigo-500;
      border: 1px solid $color-indigo-500;

      svg {
        * {
          fill: $color-indigo-500;
        }
      }
    }

    &:focus {
      color: $color-indigo-700;
      border: 1px solid $color-indigo-700;
      svg {
        * {
          fill: $color-indigo-700;
        }
      }
    }
  }

  &.borderless {
    border: none;
    color: $color-indigo-600;

    svg {
      * {
        fill: $color-indigo-600;
      }
    }

    &:hover {
      color: $color-indigo-500;
      svg {
        * {
          fill: $color-indigo-500;
        }
      }
    }

    &:focus {
      color: $color-indigo-700;
      svg {
        * {
          fill: $color-indigo-700;
        }
      }
    }
  }

  &.floating {
    box-shadow:
      0px 3px 5px 0px rgba(0, 0, 0, 0.2),
      0px 1px 18px 0px rgba(0, 0, 0, 0.12),
      0px 6px 10px 0px rgba(0, 0, 0, 0.14);
    background: $color-indigo-600;

    border: 6px;
    color: $color-white-100;
    svg {
      * {
        fill: $color-white-100;
      }
    }

    &:hover {
      background: $color-indigo-500;
    }

    &:focus {
      background: $color-indigo-700;
    }
  }

  &.link {
    color: $color-indigo-600;
    text-decoration-line: underline;
    border: none;
    svg {
      * {
        fill: $color-indigo-600;
      }
    }

    &:hover {
      color: $color-indigo-500;

      svg {
        * {
          fill: $color-indigo-500;
        }
      }
    }

    &:focus {
      color: $color-indigo-700;

      svg {
        * {
          fill: $color-indigo-700;
        }
      }
    }
  }
}

// styles of minor button

.minor {
  &.primary {
    background: $color-gray-600;
    color: $color-white-100;
    border: 6px;

    svg {
      * {
        fill: $color-white-100;
      }
    }
    &:hover {
      background: $color-gray-500;
    }
    &:focus {
      background: $color-gray-700;
    }
  }
  &.secondary {
    background: $color-gray-100;
    color: $color-gray-600;

    border: 6px;

    svg {
      * {
        fill: $color-gray-600;
      }
    }
    &:hover {
      background: $color-gray-50;
      color: $color-gray-500;

      svg {
        * {
          fill: $color-gray-500;
        }
      }
    }

    &:focus {
      background: $color-gray-200;
      color: $color-gray-700;

      svg {
        * {
          fill: $color-gray-700;
        }
      }
    }
  }
  &.outlined {
    border: 1px solid $color-gray-300;
    color: $color-gray-600;

    svg {
      * {
        fill: $color-gray-600;
      }
    }

    &:hover {
      border-color: $color-gray-200;
      color: $color-gray-500;

      svg {
        * {
          fill: $color-gray-500;
        }
      }
    }

    &:focus {
      border-color: $color-gray-400;
      color: $color-gray-700;

      svg {
        * {
          fill: $color-gray-700;
        }
      }
    }
  }

  &.borderless {
    border: none;
    color: $color-gray-600;

    svg {
      * {
        fill: $color-gray-600;
      }
    }

    &:hover {
      color: $color-gray-500;

      svg {
        * {
          fill: $color-gray-500;
        }
      }
    }

    &:focus {
      color: $color-gray-700;

      svg {
        * {
          fill: $color-gray-700;
        }
      }
    }
  }

  &.floating {
    box-shadow:
      0px 3px 5px 0px rgba(0, 0, 0, 0.2),
      0px 1px 18px 0px rgba(0, 0, 0, 0.12),
      0px 6px 10px 0px rgba(0, 0, 0, 0.14);
    background: $color-gray-600;
    color: $color-white-100;
    border: 6px;
    svg {
      * {
        fill: $color-white-100;
      }
    }

    &:hover {
      background: $color-gray-500;
    }

    &:focus {
      background: $color-gray-700;
    }
  }

  &.link {
    border: none;

    color: $color-gray-600;
    text-decoration: underline;

    svg {
      * {
        fill: $color-gray-600;
      }
    }

    &:hover {
      color: $color-gray-500;

      svg {
        * {
          fill: $color-gray-500;
        }
      }
    }

    &:focus {
      color: $color-gray-700;
      svg {
        * {
          fill: $color-gray-700;
        }
      }
    }
  }
}

// styles of danger button

.danger {
  &.primary {
    background: $color-red-600;
    border: 6px;
    color: $color-white-100;

    svg {
      * {
        fill: $color-white-100;
      }
    }

    &:hover {
      background: $color-red-500;
    }
    &:focus {
      background: $color-red-700;
    }
  }
  &.secondary {
    background: $color-red-100;

    border: 6px;
    color: $color-red-600;
    svg {
      * {
        fill: $color-red-600;
      }
    }
    &:hover {
      background: $color-red-50;
      color: $color-red-500;

      svg {
        * {
          fill: $color-red-500;
        }
      }
    }

    &:focus {
      background: $color-red-200;
      color: $color-red-700;
      svg {
        * {
          fill: $color-red-700;
        }
      }
    }
  }

  &.outlined {
    border: 1px solid $color-red-600;

    color: $color-red-600;
    svg {
      * {
        fill: $color-red-600;
      }
    }

    &:hover {
      color: $color-red-500;
      border: 1px solid $color-red-500;

      svg {
        * {
          fill: $color-red-500;
        }
      }
    }

    &:focus {
      color: $color-red-700;
      border: 1px solid $color-red-700;
      svg {
        * {
          fill: $color-red-700;
        }
      }
    }
  }

  &.borderless {
    border: none;
    color: $color-red-600;

    svg {
      * {
        fill: $color-red-600;
      }
    }

    &:hover {
      color: $color-red-500;

      svg {
        * {
          fill: $color-red-500;
        }
      }
    }

    &:focus {
      color: $color-red-700;
      svg {
        * {
          fill: $color-red-700;
        }
      }
    }
  }

  &.floating {
    box-shadow:
      0px 3px 5px 0px rgba(0, 0, 0, 0.2),
      0px 1px 18px 0px rgba(0, 0, 0, 0.12),
      0px 6px 10px 0px rgba(0, 0, 0, 0.14);
    background: $color-red-600;

    border: 6px;
    color: $color-white-100;
    svg {
      * {
        fill: $color-white-100;
      }
    }

    &:hover {
      background: $color-red-500;
    }

    &:focus {
      background: $color-red-700;
    }
  }

  &.link {
    color: $color-red-600;
    text-decoration-line: underline;
    border: none;
    svg {
      * {
        fill: $color-red-600;
      }
    }

    &:hover {
      color: $color-red-500;

      svg {
        * {
          fill: $color-red-500;
        }
      }
    }

    &:focus {
      color: $color-red-700;

      svg {
        * {
          fill: $color-red-700;
        }
      }
    }
  }
}

// styles of warning button

.warning {
  &.primary {
    background: $color-orange-600;
    border: 6px;
    color: $color-white-100;

    svg {
      * {
        fill: $color-white-100;
      }
    }

    &:hover {
      background: $color-orange-500;
    }
    &:focus {
      background: $color-orange-700;
    }
  }
  &.secondary {
    background: $color-orange-100;

    border: 6px;
    color: $color-orange-600;
    svg {
      * {
        fill: $color-orange-600;
      }
    }
    &:hover {
      background: $color-orange-50;

      color: $color-orange-500;

      svg {
        * {
          fill: $color-orange-500;
        }
      }
    }

    &:focus {
      background: $color-orange-200;
      color: $color-orange-700;
      svg {
        * {
          fill: $color-orange-700;
        }
      }
    }
  }

  &.outlined {
    border: 1px solid $color-orange-600;

    color: $color-orange-600;
    svg {
      * {
        fill: $color-orange-600;
      }
    }

    &:hover {
      color: $color-orange-500;
      border: 1px solid $color-orange-500;

      svg {
        * {
          fill: $color-orange-500;
        }
      }
    }

    &:focus {
      color: $color-orange-700;
      border: 1px solid $color-orange-700;
      svg {
        * {
          fill: $color-orange-700;
        }
      }
    }
  }

  &.borderless {
    border: none;
    color: $color-orange-600;

    svg {
      * {
        fill: $color-orange-600;
      }
    }

    &:hover {
      color: $color-orange-500;

      svg {
        * {
          fill: $color-orange-500;
        }
      }
    }

    &:focus {
      color: $color-orange-700;
      svg {
        * {
          fill: $color-orange-700;
        }
      }
    }
  }

  &.floating {
    box-shadow:
      0px 3px 5px 0px rgba(0, 0, 0, 0.2),
      0px 1px 18px 0px rgba(0, 0, 0, 0.12),
      0px 6px 10px 0px rgba(0, 0, 0, 0.14);
    background: $color-orange-600;

    border: 6px;
    color: $color-white-100;
    svg {
      * {
        fill: $color-white-100;
      }
    }

    &:hover {
      background: $color-orange-500;
    }

    &:focus {
      background: $color-orange-700;
    }
  }

  &.link {
    color: $color-orange-600;
    text-decoration-line: underline;
    border: none;
    svg {
      * {
        fill: $color-orange-600;
      }
    }

    &:hover {
      color: $color-orange-500;

      svg {
        * {
          fill: $color-orange-500;
        }
      }
    }

    &:focus {
      color: $color-orange-700;

      svg {
        * {
          fill: $color-orange-700;
        }
      }
    }
  }
}

// styles of success button

.success {
  &.primary {
    background: $color-green-600;
    border: 6px;
    color: $color-white-100;

    svg {
      * {
        fill: $color-white-100;
      }
    }

    &:hover {
      background: $color-green-500;
    }
    &:focus {
      background: $color-green-700;
    }
  }
  &.secondary {
    background: $color-green-100;

    border: 6px;
    color: $color-green-600;
    svg {
      * {
        fill: $color-green-600;
      }
    }
    &:hover {
      background: $color-green-50;

      color: $color-green-500;

      svg {
        * {
          fill: $color-green-500;
        }
      }
    }

    &:focus {
      background: $color-green-200;
      color: $color-green-700;
      svg {
        * {
          fill: $color-green-700;
        }
      }
    }
  }

  &.outlined {
    border: 1px solid $color-green-600;

    color: $color-green-600;
    svg {
      * {
        fill: $color-green-600;
      }
    }

    &:hover {
      color: $color-green-500;
      border: 1px solid $color-green-500;

      svg {
        * {
          fill: $color-green-500;
        }
      }
    }

    &:focus {
      color: $color-green-700;
      border: 1px solid $color-green-700;
      svg {
        * {
          fill: $color-green-700;
        }
      }
    }
  }

  &.borderless {
    border: none;
    color: $color-green-600;

    svg {
      * {
        fill: $color-green-600;
      }
    }

    &:hover {
      color: $color-green-500;

      svg {
        * {
          fill: $color-green-500;
        }
      }
    }

    &:focus {
      color: $color-green-700;
      svg {
        * {
          fill: $color-green-700;
        }
      }
    }
  }

  &.floating {
    box-shadow:
      0px 3px 5px 0px rgba(0, 0, 0, 0.2),
      0px 1px 18px 0px rgba(0, 0, 0, 0.12),
      0px 6px 10px 0px rgba(0, 0, 0, 0.14);
    background: $color-green-600;

    border: 6px;
    color: $color-white-100;
    svg {
      * {
        fill: $color-white-100;
      }
    }

    &:hover {
      background: $color-green-500;
    }

    &:focus {
      background: $color-green-700;
    }
  }

  &.link {
    color: $color-green-600;
    text-decoration-line: underline;
    border: none;
    svg {
      * {
        fill: $color-green-600;
      }
    }

    &:hover {
      color: $color-green-500;

      svg {
        * {
          fill: $color-green-500;
        }
      }
    }

    &:focus {
      color: $color-green-700;

      svg {
        * {
          fill: $color-green-700;
        }
      }
    }
  }
}

/* sizes */
.s {
  padding: 6px 16px 7px 16px;
  height: 32px;
  font-weight: 500;
  font-size: 14px;

  &.iconOnly {
    padding: 8px;
  }
  .icon {
    @include size(16px, 16px);
  }
}

.m {
  padding: 9px 16px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  &.iconOnly {
    padding: 10px;
  }
  svg {
    @include size(20px, 20px);
  }
}

.l {
  padding: 11px 16px 12px 16px;
  height: 48px;
  font-size: 18px;
  font-weight: 500;
  &.iconOnly {
    padding: 12px;
  }
  svg {
    @include size(24px, 24px);
  }
}

.xl {
  padding: 14px 16px;
  height: 56px;
  font-size: 20px;
  font-weight: 500;
  &.iconOnly {
    padding: 14px;
  }
  svg {
    @include size(28px, 28px);
  }
}
