@import '@styles/index.scss';

// TODO: check correct color names in figma

.filterButtonWrapper {
  outline: none;
  width: fit-content;
  transition: 0.2s ease-out;
  border-radius: 6px;
  border: 1px solid $color-gray-300;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  column-gap: 8px;

  .icon {
    * {
      @include fill($color-gray-600);
      display: flex;
    }
  }

  &:hover {
    border: 1px solid $color-gray-200;
    cursor: pointer;

    .icon {
      * {
        @include fill($color-gray-500);
      }
    }
  }

  &:focus-visible {
    border: 1px solid $color-gray-400;

    .icon {
      * {
        @include fill($color-gray-700);
      }
    }
  }

  &.disabled {
    border: 1px solid rgba(209, 213, 219, 0.5);
    cursor: not-allowed;

    .icon {
      * {
        @include fill(rgba($color-gray-700, 0.5));
      }
    }
  }
}
