@import '@styles/index.scss';

.wrapper {
  border: 0;
  outline: none;
  background-color: transparent;
  padding: 10px 0px;
  cursor: pointer;

  @include flex(center, center);

  &.disabled {
    cursor: not-allowed;
  }

  .selectedWrapper {
    @include flex(center, center);
    @include size(100%, 100%);
  }
}

// STATES
.inactiveState {
  border-radius: 8px;
  background-color: $color-white-100;
  color: $color-gray-700;
  transition: 0.2s ease-out;

  &:hover {
    background-color: $color-gray-50;
    color: $color-gray-600;
  }

  &:focus-visible {
    color: $color-gray-800;
    box-shadow: 0px 0px 0px 3px $color-gray-100;
    position: relative;
  }

  &.disabled {
    color: rgba($color: $color-gray-800, $alpha: 0.5);
  }
}

.defaultState {
  color: $color-gray-700;
  background-color: $color-gray-50;

  &:hover {
    color: $color-gray-600;
    transition: 0.2s ease-out;
    background-color: $color-gray-50;
  }

  &:focus-visible {
    transition: 0.2s ease-out;
    color: $color-gray-800;
    background-color: $color-gray-200;
  }

  &.disabled {
    transition: 0.2s ease-out;
    color: rgba($color: $color-gray-700, $alpha: 0.5);
    background-color: rgba($color: $color-gray-50, $alpha: 0.5);
  }

  &.startPosition {
    border-radius: 8px 0px 0px 8px;
  }

  &.middlePosition {
    border-radius: 0;
  }

  &.endPosition {
    border-radius: 0px 8px 8px 0px;
  }
}

.selectedState {
  color: $color-white-100;
  background-color: $color-gray-50;
  padding: 0;

  &.startPosition {
    border-radius: 8px 0 0 8px;

    .selectedWrapper {
      border-radius: 8px;
      background-color: $color-indigo-600;
    }
  }

  &.middlePosition {
    border-radius: 8px;
    background-color: $color-indigo-600;

    &:focus-visible {
      position: relative;
      border-radius: 8px;
      color: $color-white-100;
      background-color: $color-indigo-700;
      box-shadow: 0px 0px 0px 3px $color-blue-100;
    }

    &.disabled {
      color: rgba($color: $color-white-100, $alpha: 0.5);
      background-color: rgba($color: $color-indigo-600, $alpha: 0.5);
    }
  }

  &.endPosition {
    border-radius: 0px 8px 8px 0px;
    .selectedWrapper {
      border-radius: 8px;
      background-color: $color-indigo-600;
    }
  }

  // hover
  .selectedWrapper,
  &.middlePosition {
    transition: 0.2s ease-out;

    &:hover {
      background-color: $color-indigo-500;
    }
  }

  // focus
  &:focus-visible {
    border-radius: 0px;
    color: $color-white-100;

    .selectedWrapper {
      position: relative;
      box-shadow: 0px 0px 0px 3px $color-blue-100;
      border-radius: 8px;
    }
  }

  // selected
  &.disabled {
    background-color: $color-gray-50;

    .selectedWrapper {
      color: rgba($color: $color-white-100, $alpha: 0.5);
      background-color: rgba($color: $color-indigo-600, $alpha: 0.5);
    }
  }
}

.currentState {
  border-radius: 8px;
  border: 1px solid $color-indigo-600;
  background-color: $color-white-100;
  color: $color-indigo-600;
  transition: 0.2s ease-out;

  &:hover {
    background-color: $color-gray-50;
    color: $color-indigo-500;
    border: 1px solid $color-indigo-500;
  }

  &:focus-visible {
    position: relative;
    border: 1px solid $color-indigo-700;
    color: $color-indigo-700;
    background-color: $color-gray-100;
    box-shadow: 0px 0px 0px 3px $color-blue-100;
  }

  &.disabled {
    border: 1px solid rgba($color: $color-indigo-600, $alpha: 0.5);
    color: rgba($color: $color-indigo-600, $alpha: 0.5);
    background-color: rgba($color: $color-white-100, $alpha: 0.5);
  }
}

// SIZES
.smallSize {
  @include size(36px, 36px);
}

.largeSize {
  @include size(40px, 40px);
}
