@import '@styles/index.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  width: 320px;

  svg {
    display: flex;
  }

  .block {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .label {
      font-size: 14px;
      font-weight: 500;
      color: $color-gray-700;
    }

    .helpText {
      color: $color-gray-400;
    }

    .icon {
      display: flex;
      svg {
        @include size(20px, 20px);
        * {
          fill: $color-gray-600;
          opacity: 0.5;
        }
      }
    }

    &.success {
      color: $color-green-600;
      font-size: 12px;
      font-weight: 400;

      svg {
        @include size(16px, 16px);
        * {
          fill: $color-green-600;
        }
      }
    }

    &.error {
      color: $color-red-600;
      font-size: 12px;
      font-weight: 400;

      svg {
        @include size(16px, 16px);
        * {
          fill: $color-red-600;
        }
      }
    }

    &.warning {
      color: $color-orange-600;
      font-size: 12px;
      font-weight: 400;
      svg {
        @include size(16px, 16px);
        * {
          fill: $color-orange-600;
        }
      }
    }

    .preloader {
      @include size(20px, 20px);
    }
  }

  .textArea {
    padding: 8px 12px;
    font-size: 16px;
    resize: vertical;
    width: 100%;
    height: 112px;
    border-radius: 4px;
    border-radius: 6px;
    border: 1px solid $color-gray-300;
    background: $color-white-100;
    color: $color-gray-800;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    transition: all 300ms ease-out;

    &::placeholder {
      color: $color-gray-500;
    }

    &::-webkit-resizer {
      display: none;
    }

    &:hover {
      background: $color-gray-50;
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px $color-blue-100;
      border: 1px solid $color-indigo-600;
      background: $color-white-100;
    }

    .disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &.success {
      border: 1px solid $color-green-600;
      background: $color-white-100;

      &:hover {
        background: $color-gray-50;
      }
    }

    &.warning {
      border: 1px solid $color-orange-600;
      background: $color-white-100;

      &:hover {
        background: $color-gray-50;
      }
    }

    &.error {
      border: 1px solid $color-red-600;
      background: $color-white-100;

      &:hover {
        background: $color-gray-50;
      }
    }
  }
}
