@import '@styles/index.scss';

.wrapper {
  @include flex(flex-start, flex-start, column);
  row-gap: 32px;
  padding: 16px 24px 24px;
  width: 328px;
  height: 100vh;
  border-right: 1px solid $color-gray-200;
  background: $color-gray-25;

  svg {
    display: flex;
  }

  .logoImg {
    @include flex(center, center);
  }

  .logo {
    @include flex(center, flex-start);
    column-gap: 8px;
    color: $color-white-100;
    cursor: pointer;

    .name {
      color: $color-gray-800;
    }

    .img {
      max-width: 100%;
      @include size(40px, 40px);
      max-height: 100%;
      object-fit: contain;
    }
  }

  .dropdown {
    width: 100%;
    z-index: $z-dropdown;
  }

  .button {
    width: 100%;
  }

  .profile {
    width: 100%;
    background: $color-gray-25;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 12px;

    .content {
      display: flex;
      column-gap: 12px;
      align-items: center;
    }

    .textBlock {
      display: flex;
      flex-direction: column;
      row-gap: 4px;

      .title {
        color: $color-gray-800;
        @include truncate(192px);
      }

      .text {
        color: $color-gray-600;
        @include truncate(192px);
      }
    }
  }

  .profileNavigation {
    position: static;
    padding: 24px 0px 0px;
    margin-top: 24px;
  }

  .menu {
    @include flex(flex-start, space-between, column);
    row-gap: 32px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    overflow-y: auto;

    .section {
      position: relative;
      @include flex(flex-start, flex-start, column);
      row-gap: 4px;
      width: 100%;

      &:last-child {
        margin-bottom: 24px;
      }
    }
  }

  .menuWithButton {
    margin-top: -8px;
  }
}
