@import '@styles/index.scss';

// SIZES
.size-small {
  row-gap: 4px;

  .input {
    height: 21px;
  }
}

.size-large {
  row-gap: 6px;

  .input {
    height: 24px;
  }
}

.dropdownMenu {
  z-index: $z-dropdown;
}

.chipFieldWrapper {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  position: relative;

  .label {
    color: $color-gray-700;
  }

  .inputWrapper {
    width: 100%;
    display: flex;
    column-gap: 8px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid $color-gray-300;
    background: $color-white-100;
    outline: unset;
    cursor: pointer;
    transition: 0.3s;

    .iconWrapper {
      display: flex;
      align-items: center;

      &.itemsExist {
        align-items: flex-start;
      }

      .icon {
        @include fill($color-gray-500);
        transition: 0.3s;

        &.reversed {
          transform: rotate(180deg);
        }
      }
    }

    .main {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 12px;

      .chips {
        display: flex;
        flex-wrap: wrap;
        row-gap: 8px;
        column-gap: 8px;
      }

      .input {
        background-color: transparent;
        width: 100%;
        border: unset;
        outline: unset;
        color: $color-gray-800;

        font-size: 16px;
        line-height: 24px;
        font-weight: 400;

        &::placeholder {
          font-size: 14px;
          line-height: 24px;
          font-weight: 400;
          color: $color-gray-500;
        }
      }
    }

    &:hover {
      background-color: $color-gray-50;
    }

    &.focus {
      border: 1px solid $color-indigo-600;
      box-shadow: 0px 0px 0px 3px #dbeafe;
    }

    &.disabled {
      cursor: not-allowed;

      .input {
        cursor: not-allowed;

        &::placeholder {
          color: rgba(107, 114, 128, 0.5);
        }
      }
    }
  }
}
