@import '@styles/index.scss';

.wrapper {
  position: relative;
  @include flex(flex-start, flex-start, column);
  width: fit-content;

  &.expand {
    width: 100%;
  }

  .customWrapper {
    z-index: $z-dropdown;
  }
}
