@import '@styles/index.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  row-gap: 12px;
  width: fit-content;
  min-width: 328px;

  border-radius: 6px;
  border: 1px solid $color-gray-300;
  background-color: $color-white-100;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .calendar {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    max-width: fit-content;

    .daysNaming {
      display: flex;
      max-width: fit-content;

      .dayCell {
        @include flex(center, center);

        &.small {
          @include size(36px, 40px);
        }

        &.large {
          @include size(40px, 40px);
        }
      }
    }
  }

  .days {
    display: flex;
    max-width: min-content;
    min-width: fit-content;
    flex-wrap: wrap;
    row-gap: 4px;
  }
}
