@import '@styles/index.scss';

.accordionBody {
  @include flex(flex-start, flex-start, column);
  gap: 20px;
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid $color-gray-200;
  background: $color-white-100;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;

  .block {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 24px;

    .header {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
    }

    .commentBlock {
      display: flex;
      flex-direction: column;
      row-gap: 24px;

      .text {
        width: 124px;
      }

      .row {
        display: flex;
        column-gap: 32px;
      }

      .chipBlock {
        display: flex;
        max-width: 260px;
        flex-wrap: wrap;
        gap: 8px;
      }
    }

    .flex {
      @include flex(center, space-between);
      width: 100%;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
