@import '@styles/index.scss';

.navbar {
  display: flex;
  height: 4.5rem;
  padding: 0 5rem;
  border-bottom: 1px solid $color-gray-200;
  align-items: center;
  overflow: auto;

  svg {
    display: flex;
  }

  .logoTabs {
    display: flex;
    height: 100%;
    align-items: center;
    column-gap: 2.5rem;
  }

  .sidebarTabs {
    display: flex;
    height: 100%;
    align-items: center;
    column-gap: 154px;
  }

  .tabMenu {
    column-gap: 1rem;
  }

  .logo {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    figure {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 0.5rem;
      background-color: $color-indigo-600;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    span {
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1.5rem;
      color: $color-gray-800;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    column-gap: 1.5rem;
    margin-left: 24px;
  }

  .title {
    margin-left: 18.75%;
    line-height: 1.625rem;
    color: $color-gray-800;
  }

  .search {
    max-width: 17.5rem;
    min-width: 236px;
  }

  .btn {
    display: flex;
    column-gap: 1rem;
  }

  .navTabs {
    display: flex;
    column-gap: 2px;
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}
