@import '@styles/index.scss';

.tab {
  border: none;
  outline: none;
  padding: 0.75rem;
  border-radius: 6px;
  cursor: pointer;

  .icon {
    @include flex(center, center);
  }

  svg {
    display: flex;
  }

  &.indicator {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      height: 8px;
      width: 8px;
      background-color: $color-orange-500;
      border-width: 1px;
      border-style: solid;
      border-radius: 50%;
      top: calc(1rem + 1px);
      right: calc(1rem + 1px);
      transform: translate(50%, -50%);
    }
  }

  &:not(.current) {
    background: none;

    &.indicator::after {
      border-color: $color-white-100;
    }

    svg * {
      fill: $color-gray-600;
    }

    &:not(.disabled) {
      &:hover {
        background-color: $color-gray-50;

        &.indicator::after {
          border-color: $color-gray-50;
        }

        svg * {
          fill: $color-gray-500;
        }
      }

      &:focus {
        background-color: $color-gray-100;

        &.indicator::after {
          border-color: $color-gray-100;
        }

        svg * {
          fill: $color-gray-700;
        }
      }
    }
  }

  &.current {
    background-color: $color-gray-100;

    &.indicator::after {
      border-color: $color-gray-100;
    }

    svg * {
      fill: $color-gray-700;
    }

    &:not(.disabled) {
      &:hover {
        background-color: $color-gray-50;

        &.indicator::after {
          border-color: $color-gray-50;
        }

        svg * {
          fill: $color-gray-600;
        }
      }

      &:focus {
        background-color: $color-gray-200;

        &.indicator::after {
          border-color: $color-gray-200;
        }

        svg * {
          fill: $color-gray-800;
        }
      }
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
