@import '@styles/index.scss';

.wrapper {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    display: flex;
  }

  .circleWrapper {
    display: flex;
    width: 64px;
    height: 64px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;

    &.success {
      border: 1px solid $color-green-200;
      background: $color-green-50;
      .icon {
        @include size(32px, 32px);
        * {
          opacity: 1;
          fill: $color-green-600;
        }
        animation: crop 0.5s cubic-bezier(0.5, 0, 1, 1) forwards;
      }
    }

    &.loading {
      border: 1px solid $color-gray-200;
      background: $color-indigo-50;
      .icon {
        @include size(32px, 32px);

        animation: crop 0.5s cubic-bezier(0.5, 0, 1, 1) forwards;
      }
    }

    &.time {
      border: 1px solid $color-orange-200;
      background: $color-orange-50;
      .icon {
        @include size(32px, 32px);

        animation: crop 0.5s cubic-bezier(0.5, 0, 1, 1) forwards;
      }
    }

    &.error {
      background: $color-red-50;
      border: 1px solid $color-red-200;

      .icon {
        @include size(32px, 32px);

        animation: crop 0.5s cubic-bezier(0.5, 0, 1, 1) forwards;
      }
    }

    &.warning {
      background: $color-orange-50;
      border: 1px solid $color-orange-200;
      .icon {
        @include size(32px, 32px);

        animation: crop 0.5s cubic-bezier(0.5, 0, 1, 1) forwards;
      }
    }

    .loader {
      width: 32px;
      height: 32px;
    }
  }
}

@keyframes crop {
  0% {
    clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
  }
  100% {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  }
}
