@import '@styles/variables/colors.scss';

body {
  background-color: $color-white-100;
  position: relative;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'sans';
  }

  a {
    text-decoration: unset;
  }
}
