@import '@styles/index.scss';

.wrapper {
  @include flex(center, center);
  max-width: fit-content;
  column-gap: 10px;
  user-select: none;
  cursor: pointer;

  svg {
    display: flex;
  }

  .checkWrapper {
    @include flex(center, center);
    width: 20px;
    height: 20px;
    border: 1px solid $color-gray-300;
    border-radius: 4px;
    transition: all 300ms ease-out;

    &:hover {
      cursor: pointer;
      border: 1px solid $color-gray-300;
      background: $color-gray-50;
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px $color-gray-100;
      border: 1px solid $color-gray-300;
      background: $color-white-100;
    }

    .checkIcon {
      width: 16px;
      height: 16px;
      @include flex(center, center);
      transition: all 300ms ease-out;
    }

    .invisibleCheck {
      opacity: 0;
      transition: all 300ms ease-out;
    }
  }

  input:disabled ~ .inputLabel {
    opacity: 0.7;

    &:hover {
      cursor: not-allowed;
    }
  }

  .block {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  .helpWrapper {
    display: flex;
    align-items: start;
    column-gap: 12px;
  }

  .helpBlock {
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    .title {
      color: $color-gray-800;
      line-height: 24px;
    }

    .subtext {
      line-height: 19px;
      color: $color-gray-600;
    }
  }

  .text {
    color: $color-gray-600;
    line-height: 21px;
  }

  .checked {
    background: $color-indigo-600;
    border-radius: 4px;
    border: none;
    transition: all 300ms ease-out;

    &:hover {
      background: $color-indigo-500;
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px $color-blue-100;
      background: $color-indigo-700;
    }
  }

  .indeterminate {
    border: 1px solid rgba(79, 70, 229, 0.5);
    background: $color-indigo-100;
    border-radius: 4px;
    transition: all 300ms ease-out;

    &:hover {
      background: $color-indigo-100;
      border: 1px solid $color-indigo-500;
    }

    &:focus {
      border: 1px solid $color-indigo-700;
      background: $color-indigo-100;
      box-shadow: 0px 0px 0px 3px $color-blue-100;
    }
  }
}
