@import '@styles/index.scss';

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 4px;

  svg {
    display: flex;
  }

  .arrowRight,
  .arrowLeft,
  .button,
  .chevronLeft,
  .dotsHorizontal,
  .selectedButton,
  .chevronRight {
    height: 40px;
    border: none;
    background: none;
    border-radius: 8px;
    color: $color-gray-500;
    min-width: 40px;
    cursor: pointer;

    &:not(.selectedButton) {
      background: none;
      color: $color-gray-500;
    }
  }

  .arrowLeft,
  .arrowRight,
  .chevronLeft,
  .chevronRight,
  .dotsHorizontal {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrowLeft {
    margin-right: 12px;
  }

  .arrowRight {
    margin-left: 12px;
  }

  .chevronLeft {
    margin-right: 8px;
  }

  .chevronRight {
    margin-left: 8px;
  }

  .disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .selectedButton {
    background: $color-indigo-50;
    border-radius: 8px;
    color: $color-indigo-600;
  }

  .centeredButton,
  .textualNavigationButton {
    color: $color-gray-600;

    &:not(.selectedButton) {
      background: none;
      color: $color-gray-600;
      fill: none;
    }
  }

  .centeredRange {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .pagination {
      display: flex;
      display: flex;
      align-items: center;
      column-gap: 4px;
    }
  }

  .textualNavigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .textualNavigationText {
      font-size: 16px;
      font-weight: 500;
      color: $color-gray-800;
    }

    .buttons {
      display: flex;
      align-items: center;
      column-gap: 16px;
    }
  }
}
