@import '@styles/index.scss';

.wrapper {
  display: inline-block;
}

.avatar {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  svg {
    @include size(100%, 100%);
  }

  .src {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.xxs {
  width: 16px;
  height: 16px;
  font-size: 8px;
  font-weight: 500;

  .top {
    position: absolute;
    top: -1px;
    right: -1px;
  }

  .bottom {
    position: absolute;
    bottom: -1px;
    right: -1px;
  }
}

.xs {
  width: 24px;
  height: 24px;
  font-size: 12px;
  font-weight: 500;

  .top {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .bottom {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}

.s {
  width: 32px;
  height: 32px;
  font-size: 14px;
  font-weight: 500;

  .top {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .bottom {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}

.m {
  width: 40px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;

  .top {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .bottom {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}

.l {
  width: 48px;
  height: 48px;
  font-size: 18px;
  font-weight: 500;

  .top {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .bottom {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}

.xl {
  width: 56px;
  height: 56px;
  font-size: 20px;
  font-weight: 500;

  .top {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .bottom {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}

.xxl {
  width: 64px;
  height: 64px;
  font-size: 24px;
  font-weight: 500;

  .top {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .bottom {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}

.light {
  background: $color-indigo-100;

  color: $color-indigo-600;

  svg {
    * {
      fill: $color-indigo-600;
    }
  }
}

.dark {
  background: $color-gray-600;
  color: $color-white-100;
}

.gray {
  background: $color-gray-100;

  svg {
    * {
      fill: $color-gray-500;
    }
  }
}
