@import '@styles/index.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid $color-gray-200;

  svg {
    display: flex;
  }

  &.paginationActive {
    .table {
      border-radius: 0;
    }
  }

  .table {
    position: relative;
    display: grid;
    width: 100%;
    border-spacing: 0px;
    border-radius: 8px;
    height: fit-content;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
    color: $color-gray-800;
    background-color: $color-white-100;

    .heading {
      position: sticky;
      top: 0;
      background-color: $color-gray-50;

      .tr:nth-child(even) {
        background-color: $color-white-100;
      }

      .tr:nth-child(odd) {
        background-color: $color-gray-50;
      }
    }

    .tr {
      display: grid;
      width: 100%;
      min-width: min-content;
      align-items: center;
      line-height: unset;

      &.trDark {
        background-color: $color-gray-50 !important;
      }

      .th,
      .td {
        display: grid;
        grid-auto-flow: column;
        box-sizing: border-box;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        grid-auto-columns: auto;
        grid-auto-flow: column;
        column-gap: 4px;
        justify-content: flex-start;

        * {
          max-width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .th {
        padding: 12.5px 24px;
        font-size: 12px;
        letter-spacing: 0.12px;
        font-weight: 500;
        text-transform: uppercase;
        color: $color-gray-500;

        .chevronDown {
          transition: all 0.3s;

          &:hover {
            cursor: pointer;
          }
        }

        .chevronUp {
          transform: rotateX(180deg);
          transition: all 0.3s;
        }
      }

      .hiddenTh {
        visibility: hidden;
      }

      .td {
        padding: 27.5px 24px;
        font-size: 14px;
        font-weight: 600;
      }

      .preloader {
        justify-content: center;
      }

      .cta {
        position: sticky;
        right: 0;
        justify-self: flex-end;
        justify-content: flex-end;
        background-color: inherit;
        z-index: 1;
        min-width: fit-content;
        width: fit-content;
        height: 100%;
        padding-top: 8px;
        padding-left: 0;
        padding-bottom: 8px;

        > * {
          max-width: unset;
          white-space: unset;
          overflow: unset;
          text-overflow: unset;
          min-width: 24px;
          width: 100%;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .checkbox {
        padding: 1rem 1rem 1rem 1.25rem;
      }
    }

    .tr:nth-child(even) {
      background-color: $color-white-100;
      border-bottom: 1px solid $color-gray-200;
    }

    .tr:nth-child(odd) {
      background-color: $color-white-100;
      border-bottom: 1px solid $color-gray-200;
    }

    &:last-child {
      border-radius: 0;
    }
  }

  .tableCrossed {
    .tr:nth-child(even) {
      background-color: $color-white-100;
      border-bottom: 1px solid $color-gray-200;
    }

    .tr:nth-child(odd) {
      background-color: $color-gray-50;
      border-bottom: 1px solid $color-gray-200;
    }
  }

  .pagination {
    padding: 16px 24px;
  }
}

.storiesBlock {
  display: flex;
  column-gap: 12px;
  align-items: center;

  .storiesTextBlock {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  .storiesTitle {
    color: $color-gray-800;
    font-size: 14px;
    font-weight: 500;
  }

  .storiesText {
    font-size: 14px;
    color: $color-gray-600;
    font-weight: 400;
  }
}
