@import '@styles/index.scss';

.modal {
  overflow: hidden;
  position: fixed;
  z-index: $z-modal;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @include flex(center, center, column);
  background: $color-white-100;
  width: 536px;
  padding: 24px;
  border-radius: 8px;
  animation: appear 0.1s cubic-bezier(0.5, 0, 1, 1);

  svg {
    display: flex;
  }

  .wrapper {
    @include flex(center, center, column);
    position: relative;
    width: 100%;
    row-gap: 20px;

    .closeIcon {
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      @include size(24px, 24px);
    }

    .defaultText {
      text-align: start;
      margin-left: 24px;
    }

    .contentWrapper {
      @include flex(center, center, column);
      width: 100%;
      row-gap: 32px;
      text-align: center;

      .title {
        text-align: center;
        line-height: 32px;
        color: $color-gray-800;
      }

      .description {
        line-height: 24px;
        color: $color-gray-700;
        margin-top: 8px;
      }

      .hr {
        width: 536px;
        border: 1px solid $color-gray-300;
        margin: 24px 0px;
      }

      .content {
        @include flex(center, center, column);

        .contentBox {
          @include flex(center, flex-start, column);
          flex-direction: column;
          width: 100%;
        }
      }

      .controlButtons {
        @include flex(center, center, row-reverse);
        width: 100%;
        column-gap: 16px;

        > button {
          width: 100%;
          display: flex;
          justify-content: start;
        }
      }
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
