@import '@styles/index.scss';

.dropdownItem {
  @include flex(center, flex-start);
  width: 100%;
  column-gap: 8px;
  padding: 13.5px 14px;
  background-color: $color-white-100;
  user-select: none;
  transition: all 200ms ease-out;
  z-index: 100;

  svg {
    display: flex;
  }

  .leadingIcon {
    @include flex(center, center);
  }

  .value {
    color: $color-gray-700;
    line-height: 21px;
  }

  .subText {
    color: $color-gray-700;
  }

  .block {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  .avatarBlock {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    padding-left: 4px;
  }

  .check {
    @include flex(center, center);
    @include fill($color-blue-600);
    @include size(20px, 20px);
  }

  &:hover {
    background-color: $color-gray-50;
    cursor: pointer;
  }

  &:focus {
    background: $color-gray-100;
  }

  &.isSelected {
    cursor: pointer;
    justify-content: space-between;
  }
}

.avatarItem {
  padding: 8px 14px;
}

.disabled {
  opacity: 0.5;
  &:hover {
    cursor: not-allowed;
  }
}
