@import '@styles/index.scss';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  width: 100%;
  transition: all 0.3s;

  svg {
    display: flex;
  }

  .label {
    font-size: 14px;
    font-weight: 500;
    color: $color-gray-700;
  }

  .icon {
    display: flex;
    align-items: center;
    @include size(20px, 20px);
  }

  .inputContainer {
    position: relative;
    display: flex;
    column-gap: 8px;
    align-items: center;
    width: 100%;
    transition: all 0.3s;
    border: 1px solid $color-gray-300;
    background: $color-white-100;
    border-radius: 6px;
    color: $color-gray-800;

    .inputElement {
      width: 100%;
      background-color: transparent;
      border: unset;
      outline: unset;
      color: $color-gray-800;

      font-size: 16px;
      line-height: 24px;
      font-weight: 400;

      &::placeholder {
        color: $color-gray-500;
      }
    }

    &:hover {
      border: 1px solid $color-gray-300;
      background: $color-gray-50;
    }

    &:focus-within {
      box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.3);
      border-color: $color-indigo-600;
    }
  }

  .inputContainerLarge {
    padding: 11px 12px;
  }

  .inputContainerSmall {
    padding: 8px 12px;
  }

  .inputContainerWithPrefix {
    display: flex;
    position: relative;
    border: 1px solid $color-gray-300;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;

    .inputBlock {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      display: flex;
      align-items: center;
      color: $color-gray-500;
      font-size: 16px;
      outline: unset;
    }

    .inputBlockLarge {
      padding: 11px 12px 11px 8px;
    }

    .inputBlockSmall {
      padding: 8px 8px 8px 12px;
    }

    .staticPrefix {
      padding: 10px 12px 8px 10px;
      font-size: 16px;
      font-weight: 400;
      color: $color-gray-500;
      border-right: 1px solid $color-gray-300;
      background: $color-gray-100;
      display: flex;
      border-bottom-left-radius: 6px;
      border-top-left-radius: 6px;
      align-items: center;
      column-gap: 6px;

      .dropdownElement {
        border: unset;
        background-color: transparent;
        outline: unset;
        position: relative;
        transition: all 0.3s;
        display: flex;
        align-items: center;

        .selector {
          display: flex;
          align-items: center;
          transition: all 0.3s;
          border: unset;
          background: transparent;
          display: flex;
          color: $color-gray-500;
          column-gap: 6px;
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;

          .on {
            transform: rotate(180deg);
            transition: 0.3s;
          }

          .off {
            transform: rotate(0deg);
            transition: 0.3s;
          }
        }

        .selectorWithOpenedMenu {
          transition: all 0.3s;
        }

        .optionsMenu {
          position: absolute;
          top: 40px;
          left: -35px;
          z-index: $z-text-field;
          display: flex;
          flex-direction: column;
          width: 92px;
          border-radius: 8px;
          border: 1px solid $color-gray-200;
          box-shadow:
            0px 4px 6px -2px rgba(16, 24, 40, 0.02),
            0px 12px 16px -4px rgba(16, 24, 40, 0.02);
          border-radius: 8px;
          overflow: hidden;

          .optionItem {
            border: unset;
            background: $color-white-100;
            padding: 5px;
            cursor: pointer;

            &:hover {
              background: $color-gray-100;
            }
          }
        }
      }
    }

    .inputElement {
      width: 100%;
      background-color: transparent;
      border: unset;
      outline: unset;
      color: $color-gray-800;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;

      &::placeholder {
        color: $color-gray-500;
      }
    }

    &:hover {
      border: 1px solid $color-gray-300;
      background: $color-gray-50;
    }

    &:focus-within {
      box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.3);
      border-color: $color-indigo-600;
    }
  }

  .errored {
    border-color: $color-red-600;
    border-radius: 6px;
    transition: all 0.3s;

    &:hover {
      border-color: $color-red-600;
    }

    &:focus-within {
      border-color: $color-indigo-600;
    }
  }

  .success {
    border-radius: 6px;
    transition: all 0.3s;
    border-color: $color-green-600;

    &:hover {
      border-color: $color-green-600;
    }

    &:focus-within {
      border-color: $color-indigo-600;
    }
  }

  .warning {
    transition: all 0.3s;
    border-radius: 6px;
    border-color: $color-orange-600;

    &:hover {
      border-color: $color-orange-600;
    }

    &:focus-within {
      border-color: $color-indigo-600;
    }
  }

  .helpText {
    color: $color-gray-400;
  }

  .successText {
    color: $color-green-600;
  }

  .warningText {
    color: $color-orange-600;
  }

  .errorText {
    color: $color-red-600;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: $color-gray-800;
  }
}

.disabled {
  opacity: 0.5;
  transition: all 0.2s;

  .inputContainer {
    &:hover {
      cursor: not-allowed;
    }
    .inputElement {
      &:hover {
        cursor: not-allowed;
      }
    }
  }
}
