@import '@styles/index.scss';

.wrapper {
  min-width: 100%;
  z-index: $z-dropdown;

  .dropdownMenu {
    @include flex(flex-start, flex-start, column);
    max-height: 100%;
    border-radius: 8px;
    min-width: 100%;
    width: fit-content;
    background: $color-white-100;
    max-height: 336px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid $color-gray-200;
    box-shadow:
      0px 4px 6px -2px rgba(16, 24, 40, 0.02),
      0px 12px 16px -4px rgba(16, 24, 40, 0.02);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    overflow-y: scroll;

    &.isVisible {
      visibility: visible;
    }

    &.isHidden {
      visibility: hidden;
    }

    ::-webkit-scrollbar {
      width: 12px;
    }

    &.hideScrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;

      ::-webkit-scrollbar {
        display: none;
        width: 0;
      }
    }

    ::-webkit-scrollbar-thumb {
      background-color: $color-gray-100;
      border: 4px solid rgba(0, 0, 0, 0);
      height: 156px;
      background-clip: padding-box;
      border-radius: 8px;
    }

    .dropdownMenu {
      @include flex(flex-start, flex-start, column);
      max-height: 100%;
      border-radius: 8px;
      width: 320px;
      background: $color-white-100;
      max-height: 336px;
      box-sizing: border-box;
      overflow-y: scroll;
      overflow-x: hidden;
      border-radius: 8px;
      border: 1px solid $color-gray-200;
      box-shadow:
        0px 4px 6px -2px rgba(16, 24, 40, 0.02),
        0px 12px 16px -4px rgba(16, 24, 40, 0.02);
      z-index: $z-dropdown;

      .notFound {
        padding: 20px 10px;
        color: $color-gray-500;
        text-align: center;
      }

      svg {
        display: flex;
      }
    }
  }
}
