@import '@styles/index.scss';

.vertical {
  padding: 16px;
  display: flex;
  background: $color-white-100;
  box-shadow:
    0px 4px 6px -2px rgba(0, 0, 0, 0.03),
    0px 10px 15px -3px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  border: 1px solid $color-gray-200;
  column-gap: 16px;
  position: relative;

  svg {
    display: flex;
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;

    .textBlock {
      margin-bottom: 8px;
      display: flex;
      flex-direction: column;
      row-gap: 4px;
      .title {
        color: $color-gray-800;
      }

      .text {
        line-height: 21px;
        color: $color-gray-600;
      }
    }

    .controlButtons {
      display: flex;
      align-items: center;
      column-gap: 12px;

      .button {
        padding: 0px;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  .closeIcon {
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

.horizontal {
  padding: 12px 80px;
  border-bottom: 1px solid $color-gray-300;
  background: $color-white-100;
  display: flex;
  align-items: center;

  .contentWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .textBlock {
      display: flex;
      align-items: center;
      column-gap: 6px;
      margin-left: 16px;

      .title {
        color: $color-gray-800;
      }

      .text {
        line-height: 21px;
        color: $color-gray-600;
      }
    }

    .controlButtons {
      display: flex;
      column-gap: 12px;
      margin-right: 4px;

      .button {
        padding: 0px;
      }
    }
  }

  .closeIcon {
    cursor: pointer;
  }
}

.headIcon {
  min-width: 40px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid $color-gray-200;
  background: $color-gray-50;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    @include flex(center, center);
  }

  &.success {
    background: $color-green-50;
    border: 1px solid $color-green-200;
  }

  &.warning {
    background: $color-orange-50;
    border: 1px solid $color-orange-200;
  }

  &.error {
    border: 1px solid $color-red-200;
    background: $color-red-50;
  }

  &.info {
    border: 1px solid $color-gray-200;
    background: $color-indigo-50;

    svg {
      * {
        fill: $color-indigo-600;
      }
    }
  }
}
