@import '@styles/index.scss';

.host {
  display: inline-flex;
  position: relative;
  outline: none;

  .content {
    position: relative;
    z-index: $z-tooltip;
    max-width: 340px;
    box-shadow:
      0px 15px 35px 0px rgba(103, 110, 118, 0.08),
      0px 5px 15px 0px rgba(0, 0, 0, 0.12);
    word-wrap: break-word;
    overflow: hidden;
    border: 1px solid $color-white-100;
    padding: 4px 8px;
    color: $color-gray-800;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    border-radius: 6px;
    background-color: $color-white-100;
  }

  .contentDark {
    background: $color-gray-800;
    border: $color-gray-800;
  }

  .arrow {
    position: absolute;
    width: 0.6rem;
    height: 0.6rem;
    visibility: hidden;
    &::before {
      content: '';
      visibility: visible;
      background: inherit;
      width: 8px;
      height: 8px;
      transform: rotate(45deg);
      position: absolute;
    }

    &.arrowDark::before {
      background: $color-gray-800;
      border: 1px solid $color-gray-800;
    }

    &.arrowLight::before {
      background: $color-white-100;
      border: 1px solid $color-white-100;
    }
  }
}

[data-popper-placement^='top'] .arrow,
[data-popper-placement^='bottom'] .arrow,
[data-popper-placement^='left'] .arrow,
[data-popper-placement^='right'] .arrow,
[data-popper-placement^='top-start'] .arrow,
[data-popper-placement^='top-end'] .arrow,
[data-popper-placement^='bottom-start'] .arrow,
[data-popper-placement^='bottom-end'] .arrow,
[data-popper-placement^='left-start'] .arrow,
[data-popper-placement^='left-end'] .arrow,
[data-popper-placement^='right-start'] .arrow,
[data-popper-placement^='right-end'] .arrow {
  visibility: visible;
}

[data-popper-placement^='top'] .arrow::before {
  bottom: 4px;
}

[data-popper-placement^='bottom'] .arrow::before {
  top: -4px;
}

[data-popper-placement^='left'] .arrow::before {
  right: -4px;
}

[data-popper-placement^='right'] .arrow::before {
  right: 4px;
}

[data-popper-placement^='top-start'] .arrow::before {
  bottom: 4px;
  left: 10px;
}

[data-popper-placement^='top-end'] .arrow::before {
  bottom: 4px;
  right: 10px;
}

[data-popper-placement^='bottom-start'] .arrow::before {
  top: -4px;
  left: 10px;
}

[data-popper-placement^='bottom-end'] .arrow::before {
  top: -4px;
  right: 10px;
}

[data-popper-placement^='left-start'] .arrow::before {
  right: -4px;
  top: 10px;
}

[data-popper-placement^='left-end'] .arrow::before {
  right: -4px;
  bottom: 10px;
}

[data-popper-placement^='right-start'] .arrow::before {
  left: -4px;
  top: 10px;
}

[data-popper-placement^='right-end'] .arrow::before {
  left: -4px;
  bottom: 10px;
}

// STORIES

.tooltipBtn {
  border: none;
  background: inherit;
}

.tooltipDark {
  color: $color-white-100;
}

.primaryBlock {
  padding: 8px 4px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  align-items: left;
  .title {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.14px;
    line-height: 16.8px;
    color: $color-gray-800;
  }

  .text {
    color: $color-gray-400;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
}

.primaryDarkBlock {
  padding: 8px 4px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  align-items: left;
  .title {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.14px;
    line-height: 16.8px;
    color: $color-white-100;
  }

  .text {
    color: $color-gray-200;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
}
