@import '@styles/index.scss';

.accordion {
  @include flex(flex-start, flex-start, column);
  @include appear();
  width: 100%;

  &:hover {
    > div {
      border: 1px solid $color-gray-100;
      background: $color-gray-50;
    }
  }

  &:focus {
    > div {
      border: 1px solid $color-gray-300;
      background: $color-gray-100;
    }
  }

  &.disabled {
    > div {
      opacity: 50%;
      cursor: not-allowed;
    }
  }
}
