@import '@styles/index.scss';

.wrapper {
  display: flex;
  column-gap: 12px;

  .toggle {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;

    .input {
      opacity: 0;
      position: absolute;
    }

    .label {
      @include flex();
      width: 100%;
      height: 100%;
      background-color: $color-gray-300;
      border-radius: 12px;
      transition: all 300ms ease-out;

      &:hover {
        cursor: pointer;
        background-color: $color-gray-200;
      }

      &:focus-within {
        background-color: $color-gray-400;
        box-shadow: 0px 0px 0px 3px $color-gray-100;
      }

      &:disabled {
        opacity: 0.5;
      }
    }

    .checked {
      background-color: $color-indigo-600;
      transition: all 300ms ease-out;

      &:hover {
        background-color: $color-indigo-500;
      }

      &:focus-within {
        box-shadow: 0px 0px 0px 3px $color-blue-100;
        background-color: $color-indigo-700;
      }

      &:disabled {
        opacity: 0.5;
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto 0;
      @include flex();
      height: 20px;
      width: 20px;
      box-shadow:
        0px 1px 2px 0px #0000000f,
        0px 1px 3px 0px #0000001a;
      left: 2px;
      background-color: $color-white-100;
      border-radius: 50%;
      pointer-events: none;
      transition: all 300ms ease-out;
    }

    .sliderChecked {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
      background-color: $color-white-100;
      box-shadow:
        0px 1px 2px 0px #0000000f,
        0px 1px 3px 0px #0000001a;
    }
  }

  .helpBlock {
    display: flex;
    align-items: start;
    flex-direction: column;
    row-gap: 4px;
    .text {
      line-height: 24px;
      color: $color-gray-800;
    }

    .helpText {
      color: rgba(75, 85, 99, 0.5);
    }
  }

  .text {
    line-height: 21px;
    color: $color-gray-800;
  }
}

.disabledWrapper {
  cursor: not-allowed;
  opacity: 0.5;
}
