@import '@styles/index.scss';

.wrapper {
  @include flex(center, center);
  width: fit-content;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;

  .customRadio {
    position: relative;
    @include flex(center, center);
    width: 24px;
    height: 24px;
    border: 1px solid $color-gray-300;
    border-radius: 50%;
    background: $color-white-100;
    transition: all 300ms ease-out;

    &:hover {
      background: $color-gray-50;
    }

    &:focus-visible {
      background: $color-white-100;
      box-shadow: 0px 0px 0px 3px $color-gray-100;
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  .customRadio::after {
    display: none;
    content: '';
    width: 8px;
    height: 8px;
    background: $color-white-100;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .radioInput:checked ~ .block .customRadio {
    border-color: $color-indigo-600;
    background: $color-indigo-600;

    &:hover {
      background: $color-indigo-500;
      border-color: $color-indigo-500;
    }

    &:focus-visible {
      background: $color-indigo-700;
      border-color: $color-indigo-700;
      filter: drop-shadow(0px 0px 0px $color-blue-100);
    }

    &:disabled {
      opacity: 0.5;
    }

    &:after {
      display: block;
      transition: all 300ms ease-out;
    }
  }

  .block {
    display: flex;
    column-gap: 8px;
    align-items: flex-start;

    .label {
      line-height: 21px;
    }

    .helpBlock {
      display: flex;
      row-gap: 4px;
      padding-left: 4px;
      flex-direction: column;

      .label {
        line-height: 24px;
      }

      .text {
        line-height: 19px;
      }
    }
  }
}

.disabledWrapper {
  cursor: not-allowed;
  opacity: 0.5;
}
