@import '@styles/index.scss';

.underlineTab {
  all: unset;
  @include flex(center, center);
  background-color: transparent;
  border-bottom: 2px solid $color-gray-300;
  white-space: nowrap;
  column-gap: 8px;
  color: $color-gray-600;
  transition: all 300ms ease-out;

  svg {
    display: flex;
  }

  .icon {
    svg {
      @include flex(center, center);
      @include size(20px, 20px);
    }
  }

  &:hover {
    cursor: pointer;
    color: $color-gray-500;
    border-bottom: 2px solid $color-gray-300;

    .icon {
      svg path {
        fill: $color-gray-500;
      }
    }
  }

  &:focus {
    color: $color-gray-700;
    .icon {
      svg path {
        fill: $color-gray-700;
      }
    }
  }

  &.selected {
    border-bottom: 3px solid $color-indigo-600;
    color: $color-indigo-600;

    .icon {
      svg path {
        fill: $color-indigo-600;
      }
    }

    &:hover {
      color: $color-indigo-500;
      border-bottom: 3px solid $color-indigo-500;

      .icon {
        svg path {
          fill: $color-indigo-500;
        }
      }

      &:focus {
        color: $color-indigo-700;
        border-bottom: 3px solid $color-indigo-700;
        .icon {
          svg path {
            fill: $color-indigo-700;
          }
        }
      }
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.large {
  padding: 4px 8px 17px 8px;
  font-size: 16px;
  font-weight: 500;

  &.iconOnly {
    padding: 2px 10px 16px;
  }

  &.selected {
    font-weight: 600;
  }
}

.small {
  padding: 2px 8px 17px 8px;
  font-weight: 500;
  font-size: 14px;

  &.iconOnly {
    padding: 0px 8px 16px;
  }

  &.isSelected {
    font-weight: 600;
  }
}
