@import '@styles/index.scss';

.wrapper {
  @include flex(flex-start, flex-start, column);
  width: 280px;
  cursor: pointer;
  border-radius: 6px;

  svg {
    display: flex;
  }

  .icon {
    @include flex(center, center);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .content {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 100%;

    .title {
      letter-spacing: 0.14px;
      color: $color-gray-500;
      margin-left: 16px;
    }
  }

  .trailingIcon {
    margin-right: 24px;
  }

  .block {
    display: flex;
    align-items: center;
    column-gap: 12px;
    width: 185px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .blockWithTrailing {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  .item {
    @include flex(center, space-between);
    width: 100%;
    column-gap: 0.5rem;
    padding: 8px 12px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 6px;
    color: $color-gray-600;
    background: $color-gray-25;
    transition: all 300ms ease-out;

    svg {
      * {
        fill: $color-gray-500;
      }
    }

    &:hover {
      background: $color-gray-100;
    }

    &:focus {
      background: $color-gray-200;
    }

    &.selected {
      background-color: $color-indigo-50;
      color: $color-indigo-700;
      font-weight: 600;

      svg {
        * {
          fill: $color-indigo-600;
        }
      }

      &:hover {
        background-color: $color-indigo-25;
        color: $color-indigo-600;

        svg {
          * {
            fill: $color-indigo-500;
          }
        }
      }

      &:focus {
        background-color: $color-indigo-100;
        color: $color-indigo-800;

        svg {
          * {
            fill: $color-indigo-700;
          }
        }
      }
    }

    .up {
      transform: rotateX(180deg);
      transition: 0.3s;
    }
  }

  .expandingBlock {
    display: flex;
    align-items: center;
    column-gap: 12px;
    justify-content: start;
    padding: 8px 12px;
  }

  .list {
    @include flex(flex-start, flex-start, column);
    justify-items: flex-start;
    width: 100%;
    max-height: 0px;
    transform: scaleY(0) translateY(-100%);
    row-gap: 4px;

    .itemChildWithTrailing {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .itemChild {
        display: flex;
        align-items: center;
        column-gap: 12px;
        width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .trailingIcon {
      margin-right: 24px;
    }

    .item {
      font-size: 16px;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  .unfolded {
    max-height: fit-content;
    margin-top: 0;
    transform: scaleY(1) translateY(0);
    padding-left: 36px;
    padding-top: 4px;
  }

  button,
  a {
    background-color: transparent;
    outline: unset;
    border: unset;
    text-decoration: none;
    color: $color-white-100;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: unset;
    }

    &:visited {
      color: inherit;
    }

    &:disabled {
      opacity: 0.5;
    }

    &:disabled:hover {
      cursor: not-allowed;
    }
  }
}
