@import '@styles/index.scss';

.wrapper {
  display: flex;
  column-gap: 8px;
  width: 100%;

  & > button {
    width: fit-content;
  }

  .link,
  & > * {
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: unset;

    button {
      width: 100%;
    }

    &:visited {
      color: inherit;
    }
  }
}

.pillWithBorders {
  display: flex;
  padding: 4px;
  background-color: $color-gray-50;
  column-gap: 8px;
  border: 1px solid $color-gray-100;
  border-radius: 6px;

  .link {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}
