@import '@styles/index.scss';

.tool {
  border-radius: 8px;
  border: 1px solid $color-gray-200;
  background: $color-white-100;
  box-shadow:
    0px 4px 6px -2px rgba(16, 24, 40, 0.02),
    0px 12px 16px -4px rgba(16, 24, 40, 0.02);
  width: 240px;
  cursor: pointer;

  svg {
    display: flex;
  }

  .block {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px 12px;
    background-color: inherit;
    border: none;
    outline: none;
    width: 100%;

    .icon {
      display: flex;
      @include size(40px, 40px);
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      border: 1px solid $color-gray-200;
      background: $color-gray-50;
    }

    .text {
      line-height: 21px;
      color: $color-gray-700;
    }

    &:hover {
      background: $color-gray-100;
    }

    &:focus {
      background: $color-gray-200;
    }
  }
}
