@import '@styles/index.scss';

.host {
  display: inline-flex;
  position: relative;
  outline: none;

  .arrow {
    display: flex;
    position: absolute;
    z-index: 80;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 0.5rem;
      height: 0.5rem;
      transform: rotate(45deg);
    }

    &--light {
      &::before {
        border: 1px solid $color-white-100;
      }

      &::after {
        background-color: $color-white-100;
      }
    }

    &--dark {
      &::before {
        border: 1px solid $color-gray-800;
      }

      &::after {
        background-color: $color-gray-800;
      }
    }
  }

  .arrowTop {
    bottom: 0.5rem;
  }

  .arrowBottom {
    top: 0.5rem;
  }

  .arrowRight {
    left: 0.5rem;
  }

  .arrowLeft {
    right: 0.5rem;
  }
}

.hostArrowTop {
  padding-bottom: 1rem;
}

.hostArrowRight {
  padding-left: 1rem;
}

.hostArrowBottom {
  padding-top: 1rem;
}

.hostArrowLeft {
  padding-right: 1rem;
}

.content {
  position: relative;
  z-index: $z-toggletip;
  width: 340px;
  border-radius: 6px;
  box-shadow:
    0px 15px 35px 0px rgba(103, 110, 118, 0.08),
    0px 5px 15px 0px rgba(0, 0, 0, 0.12);
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  overflow: hidden;
  color: $color-gray-800;
  word-wrap: break-word;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;

  &--dark {
    background-color: $color-gray-800;
    border: 1px solid $color-gray-800;
  }

  &--light {
    background-color: $color-white-100;
    border: 1px solid $color-white-100;
  }

  .main {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      line-height: 17px;
      font-size: 14px;
      column-gap: 0.75rem;
      width: 100%;

      .title {
        &-dark {
          color: $color-white-100;
        }

        &-light {
          color: $color-gray-800;
        }
      }

      .closeBtn {
        height: 1rem;
        width: 1rem;
        border: none;
        outline: none;
        background-color: inherit;
        display: flex;
        align-items: center;
        justify-content: center;

        .svg {
          &--dark {
            fill: $color-white-100;
          }

          &--light {
            fill: $color-gray-800;
          }
        }
      }
    }

    .text {
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 18px;

      &--dark {
        color: $color-gray-200;
      }

      &--light {
        color: $color-gray-600;
      }
    }

    .link {
      max-width: fit-content;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: $color-indigo-600;
      border-bottom: 1px solid $color-indigo-600;
    }
  }

  .btns {
    display: flex;
    column-gap: 0.75rem;
    width: 100%;

    .btn {
      width: 100%;
      flex-grow: 1;
      justify-content: start;
    }
  }
}
