@import '@styles/index.scss';

.chip {
  @include flex(center, center, row);
  outline: none;
  position: relative;
  cursor: pointer;
  width: fit-content;
  background-color: transparent;
  border-radius: 100px;
  outline: unset;
  column-gap: 4px;
  transition: all 300ms ease-out;

  .icon {
    @include flex(center, center);
  }

  svg {
    display: flex;
  }

  .closedIcon {
    margin-left: 4px;
  }

  .checkedIcon {
    margin-right: 4px;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.rectangle {
  border-radius: 6px;
}

.high {
  color: $color-white-100;
  svg path {
    fill: $color-white-100;
  }
  &.default,
  &.closable {
    border: none;
    background: $color-gray-600;

    &:hover {
      background: $color-gray-500;
    }

    &:focus {
      background: $color-gray-700;
    }
  }

  &.selected {
    background: $color-gray-700;
    border: none;

    &:hover {
      background: $color-gray-600;
    }

    &:focus {
      background: $color-gray-800;
    }
  }

  &.empty {
    background: $color-gray-600;
    border: 1px solid $color-gray-300;
    color: $color-gray-600;

    svg path {
      fill: $color-gray-600;
    }

    &:hover {
      border: 1px solid $color-gray-200;
      background: $color-gray-500;
      color: $color-gray-500;

      svg path {
        fill: $color-gray-500;
      }
    }

    &:focus {
      border: 1px solid $color-gray-400;
      background: $color-gray-700;
      color: $color-gray-700;

      svg path {
        fill: $color-gray-700;
      }
    }
  }
}

.highColored {
  color: $color-white-100;
  svg path {
    fill: $color-white-100;
  }
  &.default,
  &.closable {
    border: none;
    background: $color-indigo-600;

    &:hover {
      background: $color-indigo-500;
    }

    &:focus {
      background: $color-indigo-700;
    }
  }

  &.selected {
    background: $color-indigo-700;
    border: none;

    &:hover {
      background: $color-indigo-600;
    }

    &:focus {
      background: $color-indigo-800;
    }
  }

  &.empty {
    border: 1px solid $color-indigo-400;
    background: $color-indigo-600;
    color: $color-indigo-600;

    svg path {
      fill: $color-indigo-600;
    }

    &:hover {
      border: 1px solid $color-indigo-300;
      background: $color-indigo-500;
      color: $color-indigo-500;

      svg path {
        fill: $color-indigo-500;
      }
    }

    &:focus {
      border: 1px solid $color-indigo-500;
      background: $color-indigo-700;

      color: $color-indigo-700;

      svg path {
        fill: $color-indigo-700;
      }
    }
  }
}

.low {
  &.default,
  &.closable,
  &.selected {
    color: $color-gray-700;
    background: $color-gray-50;
    border: 1px solid $color-gray-200;
    svg path {
      fill: $color-gray-600;
    }

    &:hover {
      background: $color-gray-100;
      border: 1px solid $color-gray-100;
      color: $color-gray-600;

      svg path {
        fill: $color-gray-500;
      }
    }

    &:focus {
      color: $color-gray-800;
      background: $color-gray-200;

      svg path {
        fill: $color-gray-700;
      }
    }
  }

  &.empty {
    border: 1px dashed $color-gray-300;
    background: $color-gray-50;
    color: $color-gray-50;

    svg path {
      fill: $color-gray-50;
    }

    &:hover {
      border: 1px dashed $color-gray-200;
      background: $color-gray-100;
      color: $color-gray-100;

      svg path {
        fill: $color-gray-100;
      }
    }

    &:focus {
      border: 1px dashed $color-gray-400;
      background: $color-gray-200;

      color: $color-gray-200;

      svg path {
        fill: $color-gray-200;
      }
    }
  }
}

.lowColored {
  &.default,
  &.closable,
  &.selected {
    color: $color-indigo-700;
    background: $color-indigo-50;
    border: 1px solid $color-indigo-200;
    svg path {
      fill: $color-indigo-600;
    }

    &:hover {
      color: $color-indigo-600;
      background: $color-indigo-25;
      border: 1px solid $color-indigo-100;
      svg path {
        fill: $color-indigo-500;
      }
    }

    &:focus {
      color: $color-indigo-800;
      border: 1px solid $color-indigo-300;
      background: $color-indigo-100;
      svg path {
        fill: $color-indigo-700;
      }
    }
  }

  &.empty {
    border: 1px dashed $color-indigo-500;
    background: $color-indigo-50;
    color: $color-indigo-50;

    svg path {
      fill: $color-indigo-50;
    }

    &:hover {
      border: 1px dashed $color-indigo-400;
      background: $color-indigo-25;

      color: $color-indigo-25;

      svg path {
        fill: $color-indigo-25;
      }
    }

    &:focus {
      border: 1px dashed $color-indigo-700;
      background: $color-indigo-100;

      color: $color-indigo-100;

      svg path {
        fill: $color-indigo-100;
      }
    }
  }
}

/* sizes */
.s {
  font-size: 12px;
  font-weight: 500;
  padding: 2px 10px;
  height: 20px;

  svg {
    @include size(14px, 14px);
  }
}

.m {
  padding: 3.5px 12px;
  font-size: 14px;
  font-weight: 500;
  height: 24px;

  svg {
    @include size(16px, 16px);
  }
}

.l {
  font-size: 14px;
  font-weight: 500;
  height: 32px;
  padding: 7.5px 12px;
  svg {
    @include size(16px, 16px);
  }
}

.avatar {
  @include flex(center, center, row);
  padding: 2px 6px;
  min-width: 16px;
  min-height: 16px;
}

.avatarIcon {
  margin-right: 2px;
}
