.heading128Bold {
  font-size: 128px;
  font-weight: 700;
  line-height: normal;
}

.heading96Bold {
  font-size: 96px;
  font-weight: 700;
  line-height: normal;
}

.heading64Bold {
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
}

.heading36Semibold {
  font-size: 36px;
  font-weight: 600;
  line-height: normal;
}

.heading20Semibold {
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}

.caption56Medium {
  font-size: 56px;
  font-weight: 500;
  line-height: 120%;
}

.caption40Medium {
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
}

.caption32Bold {
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}

.caption24Semibold {
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}

.caption24Medium {
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.caption22Medium {
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
}

.caption20Medium {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.caption18Semibold {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.caption18Medium {
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

.caption16Medium {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.caption16Semibold {
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

.caption16Bold {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}

.caption14Semibold {
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.caption14Medium {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.caption14Regular {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.caption12Medium {
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.14px;
}

.caption12Regular {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.body16Medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.body16Regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.body14Medium {
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}

.body14Regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.body12Regular {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}

.label20Medium {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.label18Medium {
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

.label16Medium {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.label14Medium {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.link20Medium {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

.link18Medium {
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

.link16Medium {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

.link14Medium {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}
