@import '@styles/index.scss';

.badge {
  @include flex(center, center, row);
  width: fit-content;
  background-color: transparent;
  column-gap: 4px;
  border-radius: 100px;
}

.label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

svg {
  display: flex;
}

.rectangle {
  border-radius: 6px;
}

.icon {
  display: flex;
}

.high {
  color: $color-white-100;

  svg {
    * {
      fill: $color-white-100;
    }
  }

  &.default {
    background: $color-gray-600;
  }

  &.colored {
    background: $color-indigo-600;
  }

  &.success {
    background: $color-green-600;
  }

  &.warning {
    background: $color-orange-600;
  }

  &.error {
    background: $color-red-600;
  }

  &.pending {
    background: $color-yellow-600;
  }
}

.low {
  &.default {
    background: $color-gray-100;
    color: $color-gray-700;
    border: 1px solid $color-gray-200;

    svg {
      * {
        fill: $color-gray-700;
      }
    }
  }

  &.colored {
    background: $color-indigo-50;
    color: $color-indigo-600;
    border: 1px solid $color-indigo-200;

    svg {
      * {
        fill: $color-indigo-600;
      }
    }
  }

  &.success {
    background: $color-green-100;
    color: $color-green-600;
    border: 1px solid $color-green-200;

    svg {
      * {
        fill: $color-green-600;
      }
    }
  }

  &.warning {
    background: $color-yellow-100;
    color: $color-yellow-600;
    border: 1px solid $color-orange-200;

    svg {
      * {
        fill: $color-yellow-600;
      }
    }
  }

  &.error {
    background: $color-red-100;
    color: $color-red-600;
    border: 1px solid $color-red-200;

    svg {
      * {
        fill: $color-red-600;
      }
    }
  }

  &.pending {
    background: $color-yellow-50;
    color: $color-yellow-600;
    border: 1px solid $color-yellow-200;

    svg {
      * {
        fill: $color-yellow-600;
      }
    }
  }
}

/* sizes */
.small {
  font-weight: 500;
  font-size: 12px;
  padding: 2px 10px;
  height: 20px;
  &.iconOnly {
    padding: 3px;
  }

  svg {
    @include size(14px, 14px);
  }
}

.large {
  font-weight: 500;
  font-size: 14px;
  padding: 2px 12px;
  height: 24px;
  &.iconOnly {
    padding: 4px;
  }

  svg {
    @include size(16px, 16px);
  }
}
