@import '@styles/index.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 0.25rem;

  svg {
    display: flex;
  }

  .label {
    font-size: 14px;
    font-weight: 500;
    color: $color-gray-700;
    margin-bottom: 6px;
  }

  .dropdown {
    position: relative;
    min-width: 328px;
    display: flex;
    width: 100%;
    transition: all 0.3s;

    .selector {
      display: flex;
      transition: all 0.3s;

      .on {
        transform: rotate(180deg);
        transition: 0.3s;
      }

      .off {
        transform: rotate(0deg);
        transition: 0.3s;
      }
    }

    .selectorWithOpenedMenu {
      transition: all 0.3s;
    }

    .optionsMenu {
      position: absolute;
      top: 48px;
      left: 0;
      z-index: $z-dropdown-field;
      display: flex;
      flex-direction: column;
      width: 100%;
      border-radius: 8px;
      border: 1px solid $color-gray-200;
      box-shadow:
        0px 4px 6px -2px rgba(16, 24, 40, 0.02),
        0px 12px 16px -4px rgba(16, 24, 40, 0.02);
      border-radius: 8px;
      overflow: hidden;
    }

    .menuWithLabel {
      top: 73px;
    }
  }
}
