@import '@styles/index.scss';

.outer {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.xs {
    width: 16px;
    height: 16px;
  }

  &.s {
    width: 18px;
    height: 18px;
  }

  &.m {
    width: 20px;
    height: 20px;
  }

  &.l {
    width: 22px;
    height: 22px;
  }

  &.xl {
    width: 24px;
    height: 24px;
  }

  &.xxl {
    width: 26px;
    height: 26px;
  }

  &.default {
    background-color: rgba(75, 85, 99, 0.15);
    border: 1px solid rgba(249, 250, 251, 0.15);
  }

  &.success {
    background-color: rgba(5, 150, 105, 0.15);
    border: 1px solid rgba(236, 253, 245, 0.15);
  }

  &.warning {
    background-color: rgba(234, 88, 12, 0.15);
    border: rgba(255, 247, 237, 0.15);
  }

  &.danger {
    background-color: rgba(220, 38, 38, 0.15);
    border: 1px solid rgba(254, 242, 242, 0.15);
  }

  &.brand {
    background-color: rgba(79, 70, 229, 0.15);
    border: 1px solid rgba(238, 242, 255, 0.15);
  }

  &.pending {
    background-color: $color-yellow-500;
    background: rgba(217, 119, 6, 0.15);
  }
}

.inner {
  border-radius: 10px;

  &.xs {
    width: 6px;
    height: 6px;
  }

  &.s {
    width: 8px;
    height: 8px;
  }

  &.m {
    width: 10px;
    height: 10px;
  }

  &.l {
    width: 12px;
    height: 12px;
  }

  &.xl {
    width: 14px;
    height: 14px;
  }

  &.xxl {
    width: 16px;
    height: 16px;
  }

  &.default {
    background-color: $color-gray-600;
  }

  &.success {
    background-color: $color-green-600;
  }

  &.warning {
    background-color: $color-orange-600;
  }

  &.danger {
    background-color: $color-red-600;
  }

  &.brand {
    background-color: $color-indigo-600;
  }

  &.pending {
    background-color: $color-yellow-600;
  }
}
