@import '@styles/index.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
  row-gap: 0.25rem;

  &.expand {
    width: 100%;
  }

  svg {
    display: flex;
  }

  .dropdown {
    position: relative;
    display: flex;
    width: 100%;
    transition: all 0.3s;

    .icon {
      width: 20px;
      height: 20px;
    }

    .selector {
      display: flex;
      align-items: center;
      transition: all 0.3s;
      width: 100%;

      .on {
        transform: rotate(180deg);
        transition: 0.3s;
      }

      .off {
        transform: rotate(0deg);
        transition: 0.3s;
      }
    }

    .selectorWithOpenedMenu {
      transition: all 0.3s;
    }

    .optionsMenu {
      position: absolute;
      top: 48px;
      left: 0;
      z-index: $z-dropdown-button;
      display: flex;
      flex-direction: column;
      width: 240px;
      border-radius: 8px;
      border: 1px solid $color-gray-200;
      box-shadow:
        0px 4px 6px -2px rgba(16, 24, 40, 0.02),
        0px 12px 16px -4px rgba(16, 24, 40, 0.02);
      border-radius: 8px;
      overflow: hidden;
    }

    .optionsMenuJustify {
      width: 102px;
    }
  }
}
