@import '@styles/index.scss';

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: $z-preloader;
  flex-direction: column;
  row-gap: 16px;
}

.large {
  @include flex();
  animation: 0.9s linear infinite small-rotation;
  @include size(64px, 64px);
}

.small {
  @include flex();
  animation: 0.9s linear infinite small-rotation;
  @include size(24px, 24px);
}

.static {
  @include flex();
  @include size(24px, 24px);
  animation: 0.9s linear infinite small-rotation;
}

.text {
  color: $color-gray-800;
}

@keyframes small-rotation {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(359deg);
  }
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
