@import '@styles/index.scss';

.trend {
  display: flex;
  align-items: center;
  column-gap: 4px;
  font-size: 14px;
  font-weight: 500;

  .icon {
    @include flex(center, center);
  }

  svg {
    display: flex;
    @include size(16px, 16px);
  }

  &.statics {
    color: $color-gray-500;
    svg {
      * {
        fill: $color-gray-500;
      }
    }
  }

  &.positive {
    color: $color-green-600;

    svg {
      * {
        fill: $color-green-600;
      }
    }
  }

  &.negative {
    color: $color-red-600;
    svg {
      * {
        fill: $color-red-600;
      }
    }
  }
}
